<h1>Recupera tu cuenta</h1>
<p>Escribe tu correo en el siguiente campo. Cuando hayas enviado el formulario recibir치s un correo para validar esta
    solicitud, si no lo ves en la
    bandeja de entrada revisa la carpeta de correo no deseado. Este correo tendr치 un enlace el cual debes seguir para
    recibir m치s instrucciones.</p>
<form action="/api/user/email" method="post">
    <input type="text" id="email" name="email" placeholder="Correo electr칩nico"><br><br>
    <button type="submit">Enviar</button>
    <a href="/login">Cancelar</a>
</form>