<h1>Restablecer contraseña</h1>
<form action="/newpassword" method="post">
    <label for="newPassword">Nueva contraseña</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <label for="confirmPassword">Confirmar contraseña</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <input type="hidden" name="token" value="{{token}}">
    <button type="submit">Finalizar</button>
</form>
