*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
.navbar{
    background: rgb(0, 20, 40);
    /* background-color: rgb(0, 20, 40); */

}
.navbar-brand{
    color: #fff;
    &:hover{
        color: #fff;
    }
}
.nav-link{
    color: #fff;
    &:hover{
        color: #cccccc;
    }
    &:focus{
        color: #cccccc;
    }
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #cccccc
}
.dropdown-toggle:focus{
    color: #cccccc

}
/* pagina chat */
.chat-title{
    font-size: 1.3rem;
    text-align: center;
    margin: 20px 0;
}
.nickname-green{
    color: #76f976;
}
.nickname-red{
    background-color: #b53211;
}
.general-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.messages-container{
    width: 800px;
    height: 500px;
    overflow: auto;
}
.messages-container{
    width: 70%;
    height: 400px;
    background-color: #e4eae9;
    border: solid 1px #464654;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}   

.user-chat-container{
    height: 50px;
    width: 70%;
    position: relative;
}
.input-message{
    margin: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: solid 2px #3e3e4a;
    padding: 2px 50px 2px 10px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #3e3e4a;
    background-color: #464654;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn-submit{
    background-color: #254053;
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 7px;
    right: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: #ffffff;
}

.messages li{
    list-style: none;
    font-size: 1.2rem;
    color: #3e3e4a;
}
.messages li span{
    font-family: sans-serif;
    color: #4a4a8b;
    font-weight: bold;
}

 /* ------------ ProductsView  -------------- */
.greeting{
    padding-top: 20px;
    /* padding-left: 10px; */

}
.greeting h1{
    font-size: 1.5rem;
    /* margin-bottom: 5px; */

}
.greeting h1 span{
    color: #555765;
    font-size: 1rem;
}

.greeting a button{
    background-color: #254053;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.main_products h2{
    font-size: 1.2rem;
    padding: 30px 10px 20px 0;
}
.products_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.product{
    background-color: #fff;
    border-radius: 25px;
    height: 350px;
    width: 250px;
    margin-top: 20px;
    position: relative;
    padding-top: 10px;
}
.product h3{
    text-align: center;
    font-size: 1.2rem;
}
.product p{
    position: absolute;
    top: 100px;
    padding: 5px;
    text-align: center;
    font-size: 0.9rem;
}
.product span{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
.product h5{
    font-size: 0.9rem;
    position: absolute;
    bottom: 100px;
    left: 20px;
}
.product .add-to-cart-button{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(0, 20, 40);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 80%;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color: rgb(49, 55, 63);

    }
}
.pagination_container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 0;
}
.pagination{
    height: 20px;
    width: 230px;
    position: relative;
}
.prev_page{
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
}
.next_page{
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;

}
.pgnt_btn{
    text-decoration: none;
}

 /* ------------ CartsView  -------------- */
.main_carts{
    height: 100vh;
}

 /* ------------ Login  -------------- */
.main_login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_login section{
    background-color: #ffffff;
    border-radius: 5px;
    height: 500px;
    width: 470px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.main_login section .login_form{
    display: flex;
    flex-direction: column;
}
.main_login section p{
    font-size: 0.9rem;
    margin-top: 15px;
    color: #254053;
}
.main_login section p a{
    text-decoration: none;
    color: #2371ba;
}
.main_login section span{
    color: #ff4c4c;
    font-size: 0.9rem;
    margin-top: 4px;
}
.main_login section div p{
    text-align: center;
    margin: 15px 0 8px;
}
.main_login section div a{
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.login_form{
    margin-top: 20px;
}
.login_form input{
    margin: 5px 0;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #31404a8a;
    padding: 0 10px;
}
.password_container{
    position: relative;
}
.password_container .toggle_password{
    cursor: pointer;
    position: absolute;
    margin: 0;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}
.login_form button{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #254053;
    color: #fff;
    cursor: pointer;
}

 /* ------------ Register  -------------- */
.main_register{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_register section{
    background-color: #ffffff;
    border-radius: 5px;
    height: 540px;
    width: 470px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.main_register section .register_form{
    display: flex;
    flex-direction: column;
}
.password_error{
    color: #ff4c4c;
    font-size: 0.9rem;
    margin-top: 4px;
}
.main_register section div p{
    margin: 15px 0 8px;
    text-align: center;
    font-size: 0.9rem;
}
.main_register section div a{
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.main_register section p{
    text-decoration: none;
    margin-top: 10px;
    color: #254053;
}
.main_register section p a{
    text-decoration: none;
    color: #2371ba;
}
.register_form{
    margin-top: 20px;

}
.register_form input{
    margin: 5px 0;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px #31404a8a;
    padding: 0 10px;
}
.register_form button{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #254053;
    color: #fff;
    cursor: pointer;
}

 /* ------------ RealTimeProducts  -------------- */

.main_realtimeproducts h1{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}
.manager_prod_container{
    display: flex;
    justify-content: center;
}
.manager_prod_container .add_prod_cont{
    width: 50%;
    background-color: #f6f6f6;
}
.add_prod_cont h2{
    font-size: 1.2rem;
    color: #254053;
    text-align: center;
    padding: 10px 0;
}
.add_prod_cont form{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add_prod_cont form label{
    width: 80%;
    color: #31404a;
    font-size: 0.9rem;
}
.add_prod_cont form input{
    margin: 3px;
    width: 80%;
    height: 30px;
    border-radius: 4px;
    padding: 0 10px;
    border: solid 1px #888888;
}
.btnAdd{
    cursor: pointer;
    padding: 5px;
    background-color: #157d1e;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s;
    padding: 8px 10px;
    width: 80%;
    margin-top: 5px;
}
.btnAdd:hover{
    background-color: #134f18;
}

.manager_prod_container .del_prod_cont{
    width: 50%;
    background-color: #f6f6f6;
}
.del_prod_cont h2{
    font-size: 1.2rem;
    color: #254053;
    text-align: center;
    padding: 10px 0;
}
.del_prod_cont form{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.del_prod_cont form label{
    width: 80%;
    color: #31404a;
    font-size: 0.9rem;
}
.del_prod_cont form input{
    margin: 3px;
    width: 80%;
    height: 30px;
    border-radius: 4px;
    padding: 0 10px;
    border: solid 1px #888888;
}
.btnDel{
    cursor: pointer;
    padding: 5px;
    background-color: #ff4717;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.2s;
}
.btnDel:hover{
    background-color: #b53211;
}

.table_container h2{
    font-size: 1.2rem;
    color: #254053;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

table{
    background-color: #f6f6f6;
    width: 100%;
}
th{
    background-color: rgba(255, 0, 0, 0.23);
    margin: 5px;
    padding: 5px;
}
td{
    font-size: 0.9rem;
    padding: 5px;
}

/* cart */
.no-products-container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-products-container a{
    text-decoration: none;
    background: rgb(0, 20, 40);
    color: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    &:hover{
        background-color:  rgb(43, 47, 51);
    }
}